* {
    box-sizing: border-box;
    font-family: Fira Sans;
    font-style: normal;
}
body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}
main {
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
    align-items: center;
}
.logo {
    width: 185px;
    margin-top: 25px;
}
.search {
    width: 17px;
    margin-top: 15px;
}
.menu {
    position: relative;
}
.menu__span {
    display: block;
    width: 34px;
    height: 3px;
    background: #222222;
    color: #222222;
    font-size: 3px;
    margin-top: 10px;
}
.menu__span:after{
    display: block;
    width: 18px;
    height: 3px;
    content: "меню";
    background:#222222;
    color: #222222;
    font-size: 3px;
    position: absolute;
    margin-top: 8px;
    right: 0;
}
/*------------------------------------------*/

.box {
    position: relative;
    margin-top: 60px;
}
.order-photosession {
    display: flex;
}
.order-photosession__text {
    max-width: 474px;
    margin-top: 75px;
}
.order-photosession__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #151515;
}
.order-photosession__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    margin-top: 30px;
}
.order-photosession__btn {
    width: 308px;
    height: 50px;
    background-color: #000000;
    text-align: center;
    padding-top: 13px;
    margin-top: 60px;
}
.order-photosession__text-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.loader {
    margin-top: 206px;
}
.order-photosession__phohto {
   background: url(../image/durckgirl.png) no-repeat center;
   width: 665px;
   height: 840px;
   position: relative;
   right: -123px;
}
.order-photosession__video {
    background: url(../image/video.png) no-repeat;
    width: 400px;
    height: 310px;
    position: absolute;
    left: -127px;
    bottom: 166px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -21px 36px 138px rgba(0, 0, 0, 0.44);
}
.play-btn {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
/*-------------------------------------------------------------*/
.abought  {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;

}
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    color: #222222;
}
.subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
}
.abought-text {
    margin-top: 43px;
    max-width: 540px;
    margin-left: 25px;
}
.abought-text_subtitle {
    max-width: 446px;
    margin-top: 30px;
}
/*--------------------------------------------------------*/
.slider-box {
    overflow: hidden;
}
.carousel-video {
    width: 1280px;
}
.video-text {
    margin-top: 135px;
}
.paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #222222;
    opacity: 0.7;
}
.video-text__title {
    max-width: 539px;
    margin-top: 40px;
}
.carousel-content {
    display: flex;
}
#slide-1 {
    background: url(../image/video1.png) no-repeat center;
    margin-right: 30px;
}
#slide-2 {
    background: url(../image/v2.jpg) no-repeat center;
}
#slide-1, #slide-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 825px;
    height: 500px;
}
.no-active-slide {
    opacity: 0.5;
    background:linear-gradient( rgba(27, 26, 26, 0.726), rgba(0, 0, 0, 0.5) ),
}
.nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    z-index: 2;
    cursor: pointer;
    -webkit-user-select: none;
}
.nav-left , .nav-right {
    width: 50px;
    height: 50px;
    background-color: #C4C4C4;
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left {
   margin-right: 25px;
   padding-right: 3px;
}
.nav-right {
    padding-left: 5px;
}
/*-----------------------------------------------------------*/
.how-it-works {
    margin-top: 180px;
    display: flex;
    justify-content: flex-start;   
}
.how-it-works__pic1 {
    background: url(../image/clouds.png) no-repeat;
    min-width: 570px;
    min-height: 417px;
    position: relative;
    margin-left: -188px
}
.how-it-works__pic2 {
    min-width: 350px;
    min-height: 453px;
    position: absolute;
    top: 10px;
    right: -320px;
}
.how-it-works__text {
    max-width: 475px;
    margin-top: 40px;
    margin-left: 247px;
}
.how-it-works__title {
    margin-bottom: 90px;
}
/*-----------------------------------------------------------*/
.portfolio {
    margin-top: 300px;
    margin-bottom: 120px;
}
.portfolio__nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.portfolio__nav-bar li {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #222222;
    opacity: 0.3;
}
.portfolio__nav-bar li:hover {
    cursor: pointer;
    opacity: 1;
}
.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.btn-show-photo {
    width: 338px;
    height: 50px;
    color: #FFFFFF;
    background-color: #000000;
    padding-top: 13px;
    margin-top: 50px;
}
.btn-show-photo p {
    color: #FFFFFF;
    text-align: center;
}

.photo {
    display: flex;
    flex-wrap: wrap; 
}
.photo__img {
    margin: 10px;
}
/*--------------------------------------------*/
.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 255px;
}
.reviews__title {
    max-width: 540px;
    margin-top: 85px;
}
.reviews__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #222222;
    margin-top: 85px;
}
.reviews__nav {
    margin-top: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.reviews__photo {
    margin-left: auto;
}
/*------------------------------------------------------*/
.footer {
    background: #494949;
    margin-top: 105px;
}
.footer__menu {
    margin-top: 57px;
}
.footer__logo {
    width: 112px;
    height: 28px;
    margin-right: 50px;
}
.footer__list li{
    margin-left: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.form {
    margin-top: 53px;
}
.form__input {
    max-width: 170px;
    height: 37px;
    margin-right: 20px;
    padding-left: 20px;
}
::placeholder { 
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.5;
}
.form__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 127px;
    height: 37px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #222222;
    border: none;
}
.divder {
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin: 30px 0;
}
.social {
    width: 14px;
    height: 14px;
    margin: 10px;
}